<h1>My Main App</h1>
<app-nav-bar></app-nav-bar>
<hr>
<!-- <h1>Hello World</h1>
<hr>
<div>
  <h2>Details of the Product Owner</h2>
  <hr>
  <p>{{name}}</p>
  <p>{{address}}</p>
  <button (click)="addFunc()">Click me!!!</button>
</div> -->
<!--
<div>
  <app-second></app-second>
</div>
<div>
  <app-singlefile></app-singlefile> 
</div>
<div>
  <app-binding></app-binding>
</div>
<div>
  <app-calc></app-calc>
</div>
<div>
  <app-pipe-example></app-pipe-example>
</div> -->

<router-outlet/>
