h1{
  padding: 20px;
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: lightgreen;
  color :darkgreen;
  text-align: center;
}
.menu-item{
  list-style: none;
  color : lightsalmon;
  display: inline-block;
  margin: 5px;
  padding: 10px;
}

.list-item{
  font-size: 2em;
  list-style: circle;
  text-align: center;
  margin: 0;
  background-color: darkblue;
  color: lightblue
}

.list-item:hover{
  color : darkblue;
  background-color: lightblue;
  cursor: pointer;
}

footer{
  font-style: italic;
  font-size: 0.8em;
  text-align: center;
}

.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightblue;
  padding: 20px;
  margin: 10px;
  max-width: 250px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.card-image{
  max-width: 60%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 10px;
}

.card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color:brown
}

.card-text{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color:darkred
}