<div class="container">
    <div class="row">
        <div class="nav navbar navbar-expand-sm bg-danger">
            <div class="navbar-nav">
                <li class="navitem m-2">
                    <a class="nav-link btn btn-warning" routerLink="/">Home</a>
                </li>
                <li class="navitem  m-2">
                    <a class="nav-link btn btn-warning" routerLink="/AllEmployees">All Employees</a>
                </li>
                <li class="navitem  m-2">
                    <a class="nav-link btn btn-warning" routerLink="/AddNew">Add Employee</a>
                </li>
            </div>
        </div>
    </div>
</div>