<div class="card m-3">
    <div class="card-header">
        <h2>{{selectedMovie.title}}</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-5">
                 <p>Image to be placed here</p>   
            </div>
            <div class="col-md-6">
                <input class="form-control my-2" disabled [value]="selectedMovie.id"/>
                <input class="form-control my-2" disabled [value]="selectedMovie.director"/>
                <input class="form-control my-2" disabled [value]="selectedMovie.rating"/>
            </div>
        </div>
        <div class="row">
            <button class="btn btn-primary" routerLink="/">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Back
            </button>
        </div>
    </div>
</div>
